<article class="home__products--phones">
    <div class="home__phone--container--1">
        <img class="home__img--cardProducts" src="/images/products/default-image.png" alt="">
    </div>
    <div class="home__product--descripction">
        <span>
            
        </span>
        <% if (products.discount> 0) { %>

            <p class="home__strikethrough">$<%= price %>
            </p>

            <p class="home__price">$<%= formatNumber(products.price - (products.price * products.discount / 100)) %>
            </p>

            <% } else { %>

                <p class="home__price">$<%= formatNumber(products.price - (products.price * products.discount / 100))%>
                </p>

                <% } %>
    </div>
    <a href="/products/<%= products.id %>" class="home__btn--details">Ver detalle</a>
</article>