<header class="header__container">

    <!-- GRAY HEADER -->
    <nav class="header__nav--userdesign">
        <ul class="nav__container--gray">
            <li>
                <a href="https://www.oca.com.ar/Busquedas/Envios" class="nav__icon--link"><i
                        class="fa-solid fa-truck-fast nav__icon--gray"></i>Seguí
                    tu compra</a>
            </li>
            <li class="nav__btn--gray">
                <a href="" class="nav__icon--link"><i class="fa-regular fa-building nav__icon--gray"></i>Sucursales</a>
            </li>
            <li class="nav__btn--gray">
                <a href="" class="nav__icon--link"><i class="fa-brands fa-whatsapp nav__icon--gray"></i>Comunicate por
                    WhatsApp</a>
            </li>
            <li class="nav__btn--gray">
                <a href="" class="nav__icon--link"><i class="fa-solid fa-headset nav__icon--gray"></i>Centro de
                    ayuda</a>
            </li>
            <li>
                <a href="" class="nav__icon--link"><i class="fa-solid fa-circle-down nav__icon--gray"></i>Garantía</a>
            </li>
            <li class="nav__logo__gray--container">
                <img class="nav__logo--gray" src="/images/logos/logoSecundario.svg" alt="">
            </li>
        </ul>
    </nav>

    <!-- HEADER MENU HAMBUGER, LOGO, SEARCH-BAR, MY-ACCOUNT, CART -->
    <div class="header__bsi_container">

        <!-- MENU HAMBUGER - LOGO -->
        <div class="header__burger__logo--container">

            <!-- MENU HAMBURGER -->
            <div class="header__burger--menu">
                <i class="fas fa-bars"></i>
            </div>
            <!-- LIST MENU CATEGORIES -->
            <nav class="menu-container">
                <ul class="menu">
                    <li><a href="/products/subcategory/1">Celulares Nuevos</a></li>
                    <li><a href="/products/subcategory/2">Celulares Refabricados</a></li>
                    <li><a href="/products/subcategory/3">Accesorios</a></li>
                </ul>
            </nav>
            <!-- LOGO -->
            <div class="header__logo--container">
                <a href="/">
                    <img src="/images/logos/logoPrincipal.svg" class="header__logo" alt="Header Logo">
                </a>
            </div>

        </div>

        <!-- SEARCH-BAR -->
        <div class="header__search--container">
            <form class="header__search--form" action="/search" method="GET">
                <input class="header__search--bar" type="text" placeholder="Buscar productos"
                    name="keywords">
                <button class="search__bar--btn" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>

        <!-- MY-ACCOUNT - CART -->
        <div class="header__acc__cart--container">

            <!-- MY-ACCOUNT -->
            <div class="header__acc--container">
                <% if (typeof session.user !== "undefined") { %>
                  <div class="user-avatar">
                    <img src="/images/users/<%= session.user.avatar %>" class="rounded-circle" height="30" width="30" alt="avatar" />
                    <span class="session"></span>
                  </div>
                  <div class="menu-user">
                    <a href="/users/profile">Mis datos</a>
                    <a href="/users/logout">Cerrar sesión</a>
                    <% if (session.user.role === "admin") { %>
                      <a href="/products/adminList">ADMIN</a>
                    <% } %>
                  </div>
                <% } else { %>
                  <a href="/users/login"><i class="fa-solid fa-circle-user" style="color: white; font-size: 1.7rem; margin-right: 0.5rem; margin-top: 0.5rem;"></i></a>
                <% } %>
              </div>
            <!-- CARRT -->
            <div class="header__cart--container">
                <a href="/products/cart" class="acc__links">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </div>
        </div>

    </div>

    <!-- HEADER NAV CATEGORIES -->
    <nav class="header__nav--categories">
        <ul class="header__container--sections">
            <li class="header__name--sections"><a class="header__name--link" href="/products">Productos</a></li>
            <li class="header__name--sections"><a class="header__name--link" href="/products/subcategory/1">Celulares
                    Nuevos</a></li>
            <li class="header__name--sections"><a class="header__name--link" href="/products/subcategory/2">Celulares
                    Refubrished (Renovados)</a></li>
            <li class="header__name--sections"><a class="header__name--link" href="/products/category/2">Accesorios</a>
            </li>
        </ul>
    </nav>

    <script src="/js/header.js" defer></script>
</header>