<div class="profile__nav--container">
    <nav class="profile__nav">
        <ul class="profile__container--sections">
            <li class="profile__container--sections"><a href="/products"><i class="fa-solid fa-bag-shopping"></a></i>
                <span><a href="/products">Comprar</a></span>
            </li>
            <% if ( session.user.role==="admin" ) { %>
                <li class="profile__container--sections"><a href="/products"><i class="fa-solid fa-tags"></a></i>
                    <span><a href="/products/adminList">Productos</a></span>
                </li>
                <% } %>
                    <% if ( session.user.role==="admin" ) { %>
                        <li class="profile__container--sections"><a href="/users/adminUsers"><i class="fa-solid fa-user-group"></a></i>
                            <span><a href="/users/adminUsers">Usuarios</a></span>
                        </li>
                        <% } %>
                            <li class="profile__container--sections"><a href="/users/profile/edit"><i
                                        class="fa-solid fa-gear"></a></i> <span><a href="/users/profile/edit">Ajustes</a></span></li>
        </ul>
    </nav>
</div>