.admin__container {
    margin: auto 0;
    min-width: 245px;
    display: flex;
    box-sizing: border-box;
}

.admin__section--container {
    min-width: 140px;
    padding-top: 1rem;
    padding-bottom: 3rem;
    width: 100%;
}

.admin__title {
    margin-left: 2rem;
}

.admin__filters {
    padding: 4px;
    margin: 0 5px;
}

.admin__filters select {
    border-radius: 10px;
    border-color: var(--azul);
    width: 116px;
    margin-left: 1.5rem;
}

.col-12 {
    width: 100%;
    display: flex;
    justify-content:flex-end;
    padding-right: 2rem;
}

.table-container {
    position: relative;
    overflow-x: hidden;
}

.scroll-navigation {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.scroll-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 4px;
    transition: background-color 0.3s ease;
    color: var(--azul);
}

.scroll-button:hover {
    background-color: #e6e6e6;
}

.scroll-content {
    flex-grow: 1;
    overflow-x: auto;
}

.scroll-content table {
    width: 100%;
}

.scroll-button i {
    font-size: 16px;
}

.admin___btn--add {
    background-color: var(--azul);
    color: white;
    padding: 5px;
    margin: 0.5rem 0;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-responsive {
    width: 100%;
    margin: 0 auto;
    min-width: 100px;
}

tr.even {
    background-color: #a1bdf1b4;
}

tr.odd {
    background-color: #ffffff;
}

td {
    padding: 7px;
}

article.col-12 {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
}

@media(min-width:820px) {

    .admin___btn--add {
        height: 40px;
        width: 120px;
        font-size: 1.2rem;
    }

    td {
        padding: 10px;
    }

}
