.productCreate {
    /* display: flex; */
    background-image: url("../images/form__fondo.jpg");
    background-size: cover;
    background-attachment: fixed;
}

/* REGISTER */

.register__title {
    text-align: center;
    font-family: var(--titulos);
}

hr {
    margin-bottom: 1rem;
}

.register__container--global {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--gris-claro);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    width: 90%;
    margin: 2rem 0.5rem;
    border-radius: 25px;
    background-color: white;
    padding: 3.5rem;
    width: auto;
}

.productForm__container {
    width: 100%;
}

.input__container,
.button__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.input__photo{
    display: flex;
    text-align: center;
    height: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
    width: 100%;
    box-sizing: border-box;
  }
  
  .form__product--textImage {
    font-size: 14px;
  }
  
  .form__product--inputImage {
    opacity: 0;
  }

  .text__danger--form{
    display: flex;
    text-align: justify;
    justify-self: flex-start;
    color: red;
    margin-top: 9px;
    padding-left: 5px;
  }
/* Selectores */

.input-style {
    border: none;
    border-radius: 0.2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    height: 3rem;
    padding: 0 0.5rem;
    outline: none;
    color: black;
}

.label-style {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-weight: 500;
}

input.input-style::placeholder {
    font-weight: 500;
}

textarea {
    max-width: 37rem;
    max-height: 10rem;
    min-width: 100%;
    resize: none;
}

.textarea__descripction {
    width: 100%;
    height: 10rem;
    margin: 2rem 0;
    padding: 0.5rem;
}

/* BUTTONS */

.btn {
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    height: 2.5rem;
    font-size: var(--precio);
    text-align: center;

}

.btn__submit {
    background-color: var(--azul);
    border-radius: 0.5rem;
    cursor: pointer;
    height: 2.5rem;
    font-size: var(--precio);
    color: white;
    transition: all 1s;
}

.btn__submit:hover {
    background-color: var(--celeste);
}

.button__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.form__button-blue {
    all: unset;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 100%;
    text-align: center;
}


/* MEDIAS QUERIES */

/* Desktop */
@media(min-width: 980px) {
    .register__container--global {
        margin: 2rem auto;
    }

    .container__desktop {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .box__datos {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box__profile {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input__container--boxImage{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 307px; 
    }

    .input__photo{
        display: flex;
        width: 80%;
        margin-top: 3.5rem;
        height: 2.5rem;
      }

    input.input-style {
        min-width: 16rem;
    }

    .register__first {
        display: flex;
        max-width: 700px;
    }
}