a {
    color: darkblue;
    text-decoration: none;
    font-size: 0.8rem;
}

.productCreate {
    /* display: flex; */
    background-image: url("../images/form__fondo.jpg");
    background-size: cover;
    background-attachment: fixed;
}

/* REGISTER */

.register__title {
    text-align: center;
    font-family: var(--titulos);
}

hr {
    margin-bottom: 1rem;
}

.register__container--global {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--gris-claro);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    width: 90%;
    margin: 2rem 0.5rem;
    border-radius: 2%;
    background-color: white;
    padding: 3.5rem;
    width: auto;
}

.productForm__container {
    width: 100%;
}

.input__container,
.button__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

/* Selectores */

.input-style {
    border: none;
    border-radius: 0.2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    height: 3rem;
    padding: 0 0.5rem;
    outline: none;
    color: black;
}

.label-style {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-weight: 500;
}

input.input-style::placeholder {
    font-weight: 500;
}

textarea {
    max-width: 37rem;
    max-height: 10rem;
    min-width: 100%;
    resize: none;
}

.textarea__descripction {
    width: 100%;
    height: 10rem;
    margin: 2rem 0;
    padding: 0.5rem;
}

/* BUTTONS */

.btn {
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    height: 2.5rem;
    font-size: var(--precio);
}

.btn__submit {
    background-color: var(--azul);
    border-radius: 0.5rem;
    cursor: pointer;
    height: 2.5rem;
    font-size: var(--precio);
    color: white;
    transition: all 1s;
}

.btn__submit:hover {
    background-color: var(--celeste);
}



/* MEDIAS QUERIES */

/* Desktop */
@media(min-width: 980px) {
    .register__container--global {
        margin: 2rem auto;
    }

    .container__desktop {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .box__datos {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box__profile {
        width: 50%;
        height: 228px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input__photo {
        margin-left: 4rem;

    }

    input.input-style {
        min-width: 16rem;
    }

    .register__first {
        display: flex;
        max-width: 700px;
    }
}