@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: var(--fuente);
  /* box-sizing: border-box; */
}

a {
  color: black;
  text-decoration: none;
}

p {
  font-size: var(--parrafos);
}

body {
  background-color: var(--fondo);
  min-width: 245px;
}

ul {
  list-style: none;
}