/* HEADER MOBILE */

.header__container {
  background-color: var(--azul);
  min-width: 245px;
}

/* GRAY HEADER */
.nav__container--gray {
  display: none;
}

.nav__logo--gray {
  width: 60px;
}

/* HEADER MENU HAMBUGER, LOGO, SEARCH-BAR, MY-ACCOUNT, CART */
.header__bsi_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.3rem 1.3rem 3rem 1.3rem;
  position: relative;
}

/* MENU HAMBUGER - LOGO CONTAINER */
.header__burger__logo--container {
  display: flex;
  align-items: center;
}

/* MENU HAMBUGER */
.header__burger--menu {
  margin-right: 10px;
  cursor: pointer;
  color: white;
  font-size: 2rem;
}

/* LOGO */
.header__logo {
  width: 69px;
  padding: 0.4rem;
}

/* SEARCH BAR */
.header__search--container {
  width: 70%;
  position: absolute;
  bottom: 10px;
  left: 15%;
}

.header__search--form {
  display: flex;
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.header__search--bar {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}

.header__search--bar:focus {
  outline: var(--destacado) solid 2px;
}

.header__search--bar::placeholder {
  text-overflow: ellipsis;
}

.search__bar--btn {
  position: absolute;
  right: 4px;
  height: 39px;
  border: none;
  background-color: white;
  color: var(--azul);
  font-size: 1.2rem;
}

/* MY-ACCOUNT, CART CONTAINER */
.header__acc__cart--container {
  display: flex;
  align-items: center;
}

.acc__links {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  padding: 5px;
}

.fa-circle-user,
.fa-shopping-cart {
  font-size: 1.5rem;
}

.fa-shopping-cart {
  padding-bottom: 6px;
}

.text__acc {
  white-space: nowrap;
  font-size: var(--parrafos);
}

.header__container--sections {
  display: none;
  font-weight: 400;
  justify-content: space-around;
  font-size: 14px;
}

.header__name--sections {
  color: white;
  padding: 12px 0;
}

.header__name--link {
  color: white;
}

/* HEADER TABLET */
@media(min-width:768px) {

  /* GRAY HEADER */
  .nav__container--gray {
    background-color: #d3d1d1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    padding: 5px 1rem;
  }

  .nav__icon--link {
    color: var(--gris-oscuro);
  }

  .nav__icon--gray {
    padding-right: 7px;
  }

  .header__logo {
    width: 75px;
    padding: 0.4rem;
  }

  /* HEADER MENU, LOGO, SEARCH, ACC, CART */
  .header__bsi_container {
    padding: 0.8rem;
  }

  .header__search--container {
    position: initial;
  }

  .header__container--sections {
    display: flex;
  }
}


/* HEADER DESKTOP */
@media(min-width:1024px) {
  .header__burger--menu {
    display: none;
  }

  .header__logo {
    width: 85px;
    padding: 0;
  }

  .fa-circle-user,
  .fa-shopping-cart {
    font-size: 1.7rem;
  }

  .text__acc {
    font-size: 14px;
  }

}