@import url('https://fonts.googleapis.com/css2?family=Work%20Sans:wght@100;400;700&display=swap%27');

/* VARIABLES */
:root {
    /* Colores */
    --azul: #004AAD;
    --gris-oscuro: #737373;
    --gris-claro: #8C9197;
    --fondo: #F5F5F5;
    --links: #00A650;
    --destacado: #006AFD;
    /* Fuente */
    --fuente: "Work Sans", sans-serif;
    /* Tamaños tipográficos */
    --parrafos: 12px;
    --descripcion: 16px;
    --precio: 18px;
    --descuento: 16px;
    --detalles: 10px;
}

/* GENERALES */

* {
  margin: 0;
  padding: 0;
  font-family: var(--fuente);
  box-sizing: border-box;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  font-size: var(--parrafos);
}

/* HEADER */

.header__body--container{
  min-width: 245px;
}

.header__container--gray {
  display: none;
}

header {
  background-color: var(--azul);
  width: 100%;
  min-height: 35px;
}

/* BURGER MENU */

header .burger-menu {
  color: white;
  font-size: 30px;
  padding-left: 5px;
  border: 0px;
}

header i.fas.fa-bars {
  margin: 5px;
}


/* Desplegable Categorias*/


/* LOGOS */

.logo__horizontal--1{
  position: relative;
  top: 1px;
  width: 60px;
  height: 27px;
}

.header__logo--main {
  position: relative;
  top: 10px; 
  width: 70px;
} 

/* USER Y CARRITO */

.header__container{
  min-height: 49px;
}

header .main-nav {
  color: white;
  font-size: 25px;
  position: relative;
  top: -40px;
}

header .main-nav ul .header__container--cart--login {
  display: flex;
  justify-content: right;
  position: relative;
  z-index: 5;
}
header .main-nav ul li {
  margin: 2px;
  text-align: center;
  
}

.carrito {
  padding-right: 10px;
}

.header__nav--categories ul{
  display: flex;
  background-color: var(--azul);
  color: var(--fondo);
  font-weight: 300;
  flex-grow: 1;
  margin-left: 1rem;
  margin-right: 1rem;
  }
  
/* .header__nav--categories {
  display: none;
} */

.header__nav--categories, nav.active{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--azul);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header nav .btn__close--container{
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: var(--fondo);
    background-color: var(--azul);
    border-radius: 50%;
    font-size: 2rem;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 1s;
}

header nav .btn__close--container:hover {
    background-color: white;
    color: var(--azul);
}

ul.header__container--sections {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
}

/* BARRA DE BUSQUEDA */

.header__search {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 34px;
  margin-bottom: 10px;
  position: relative;
  top: -30px;
  padding-top: 2px;
}
.header__search::placeholder {
  color: var(--gris-oscuro);
  outline: none; 
}
.header__search--bar {
  width: 230px;
}

.a__btn--links{
  color: var(--fondo);
}


/*  DESKTOP */

@media(min-width:780px) {
  .header__container--gray {
      background-color:#d3d1d1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var(--gris-oscuro);
      font-weight: 400;
      font-size: 0.7rem;
      position: relative;
      padding: 5px 1rem;
      flex-direction: row;
}
  #header__icon--gray {
      padding-right: 7px;
  }
  .header__search--bar{
      /* width: 50%; */
      position: initial;
  }
}

/* BARRA DE BUSQUEDA TABLET Y DESKTOP */
@media(min-width: 480px){
  .header__search{
      position: absolute;
      top: 54px;
      width: 100%;
  }
  .header__search--bar{
      width: 69%;
  }
  .header__container{
      max-height: -10px;
  }
  header{
      max-height: -1px;
  }
}




/* Media queries HOME */

/* Tablets*/

@media (min-width: 679px) {
  .header__nav--categories {
    display: flex;
  }

  .burger-menu {
    display: none;
  }
}

/* Desktop */
@media (min-width: 1310px) {
  .header__nav--categories {
    display: flex;
    margin: 0 2rem;
    margin-bottom: 2rem;
  }
}