/* SLIDER */

.slideshow-container {
  position: relative;
  margin: auto;
}

.slider {
  z-index: 1000;
}

.mySlides {
  display: none;
  max-height: 300px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.home__dot--container {
  display: none;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}


/* HOME */
main.home__body-container {
    background-color: var(--fondo);
    min-width: 245px;
}

main section.home__oferts--container {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--azul);
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    width: 100%;
    flex-wrap: wrap;
    font-size: var(--descripcion);
}

main section.home__oferts--container article.home__oferts {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  font-size: var(--detalles);
  box-shadow: 5px 5px 15px rgba(0,0, 0, 0.4);
  padding: 1rem 1rem;
}

.home__OFF {
  font-size: x-large;
  text-align: center;
}

#home__icons--creditCard {
  padding-right: 4px;
  font-size:xx-small;
}

#home__interest--free--fees {
  font-weight: 500;
}

.home__text-green {
    color: var(--links);
    font-weight: 600;
}

.home__btn-off {
    border-radius: 50%;
    color: var(--fondo);
    font-weight: 600;
}

section.home__phones--container--global {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  font-size: var(--descripcion);
}

.home__products--phones{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10%;
  font-weight: 600;
  box-shadow: 5px 5px 15px rgba(0,0, 0, 0.3);
  padding: 1.5rem 0.5rem;
  margin: 0.5rem;
  width: 230px;
  height: 310px;
  transition: all 450ms;
  background-color: white;
}

.home__products--phones:hover {
  box-shadow: 5px 5px 10px rgb(100, 100, 100);
}

/* Contenedor de las imagenes */
article.home__products--phones  div.home__phone--container--1 {
  display: flex;
  min-width: 170px; 
  height: 150px;
  object-fit: contain;
} 

/* Imagenes */
div.home__phone--container--1 img.home__img--cardProducts{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.home__tablet {
  display: none;
}

.home__desktop {
  display: none;
} 


/* Estilos */

a.home__second--title {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding-top: 0.5;
  text-align: center;
}

div.home__product--descripction {
  text-align: center;
}

.home__strikethrough {
  text-decoration: line-through;
  color: var(--gris-oscuro);
}

.home__price{
  font-size: var(--precio);
}

a.home__btn--details {
  color: var(--fondo);
  font-size: var(--descripcion);
  border: 1px solid rgb(0, 0, 0, 0.5);
  border-radius: 10px;  
  padding: 0.6rem;
  margin-top: 1rem;
  background-color: var(--destacado);
  transition: all 450ms ease;
}

a.home__btn--details:hover {
  background-color: var(--azul);
}

div.home__title--principal {
  background-color: var(--azul);
  border-radius: 10px;
  min-width: 210px;
  width: 100%;
  color: var(--fondo);
  border: 3px solid rgb(0, 0, 0, 0.5);  
  text-align: center;
}

div.home__title--principal h2 {
  width: 100%;
}

/* FIN DEL HOME */

/*  DESKTOP */

@media(min-width:780px) {

  .info__title {
    padding-bottom: 0.5rem;
    font-size: 1rem;
  }

  .info__item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .info__title.icon-loc::before {
    font: var(--fa-font-solid);
    content: "\f3c5";
    padding-right: 5px;
  }

  .info__title.icon-mob::before {
    font: var(--fa-font-solid);
    content: "\f10b";
    padding-right: 5px;
  }

  .info__title.icon-tel::before {
    font: var(--fa-font-solid);
    content: "\f095";
    padding-right: 5px;
  }

  .info__item--link {
    color: white;
    font-size: 0.9rem;
  }

  .info__item--link:hover {
    color: var(--destacado)
  }
}



/* Media queries HOME */

/* Tablets*/

@media (min-width: 679px) {
  .home__tablet {
    display: flex;
  }

  .home__products--phones{
    padding: 3rem 1.5rem;
    margin: 1rem;
    width: 300px;
    height: 400px;
    transition: all 450ms;
  }
  
  article.home__products--phones div.home__phone--container--1 {
    display: flex;
    width: 200px; 
    height: 250px;
    object-fit: contain;
  } 

}

/* Desktop */
@media (min-width: 1310px) {
  .home__desktop {
    display: flex;
  } 
  .home__products--phones{
    padding: 3rem 1.5rem;
    margin: 1rem;
    width: 250px;
    height: 350px;
    transition: all 450ms;
  }
  article.home__products--phones div.home__phone--container--1 {
    display: flex;
    height: 200px;
    object-fit: contain;
  } 
}