/* PRODUCT DETAIL */

.back {
    color: var(--gris-claro);
    font-size: 14px;
    height: 25px;
    padding-top: 15px;
    padding-left: 5px;
}

.create__btn {
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.create__btn--redirect {
    background-color: var(--azul);
    padding: 8px;
    border-radius: 3px;
    color: white;
    transition: all 0.4s ease-in 0s;
}

.create__btn--redirect:hover {
    background-color: var(--destacado)
}

.detail__a {
    color: var(--gris-claro);
}

.back ul li {
    display: inline;
    padding-right: 5px;
}

.detail___product--container {
    margin-top: 20px;
    background-color: white;
    width: 100%;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    max-height: min-content;
    max-width: fit-content;
}


.detail___container--img {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.detail__img--product {
    margin: auto;
    background-color: white;
    width: 100%;
    max-width: 400px;
}


.detail___info--product {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 400px;
    text-align: left;
    padding: 20px 10px;
}

.detail___title--product {
    display: flex;
    font-size: 18px;
    margin-bottom: 15px;
}

.detail___porcent--offer {
    color: var(--links);
    font-weight: bold;
    margin-left: 10px;
}

.detail___price {
    color: var(--azul);
    font-size: 1.8rem;
    font-weight: 600;
    padding: 5px 0;
}

.detail__dues--card {
    color: var(--links);
    padding: 15px 0;
}

.detail__img--target {
    width: 50px;
    height: 30px;
    border: solid 1px;
    border-color: var(--gris-claro);
}

.detail__payment--methods a {
    font-weight: normal;
    font-size: 1.2rem;
    color: var(--destacado);
}

.detail__shipping {
    font-size: 20px;
    color: var(--links);
    padding-top: 15px;
}

.detail__free {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.detail__selects {
    color: var(--azul);
    font-weight: bold;
}

.detail__button--colour {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
    padding-top: 10px;
}

.detail__button--colour1:focus {
    border: 1px solid var(--azul);
}

.detail__button--colour2:focus {
    border: 1px solid var(--azul);
}

.detail__button--colour3:focus {
    border: 1px solid var(--azul);
}

.detail__button--colour1 {
    font-size: 30px;
    color: rgba(216, 57, 67, 1);
    border: 1px solid rgba(220, 220, 220, 0.300);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.781);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.detail__button--colour2 {
    font-size: 30px;
    color: rgba(25, 11, 107, 1);
    border: 1px solid rgba(220, 220, 220, 0.300);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.781);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.detail__button--colour3 {
    font-size: 30px;
    color: rgba(190, 36, 126, 1);
    border: 1px solid rgba(220, 220, 220, 0.300);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.781);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.detail__input--false {
    display: none;
}

.counter {
    padding: 5px 10px;
    width: 7rem;
    border: 1px solid var(--primary);
    border: 1px solid rgba(220, 220, 220, 0.300);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.781);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 10px;
}

.detail___button--cart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.detail___btn--add--to--cart {
    background-color: var(--azul);
    color: white;
    padding: 5px;
    height: 50px;
    width: 180px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-message-detail {
    color: red;
    margin-top: 10px;
  }
  

.detail___technical--specifications {
    margin-top: 20px;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    width: auto;
    padding: 1rem 3rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    border-radius: 20px;
    max-height: min-content;
    max-width: 865px;
}

.detail__tittle--characteristics {
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 1.3rem;
}

.detail___characteristics ul li {
    padding: 10px 0;
    font-size: 1.2rem;
}
.detail___description {
    padding: 10px 0;
    font-size: 1.2rem;
}

a.detail__second--title {
        display: flex;
        width: 90%;
        max-width: 865px;
        margin: 0 auto;
        padding-top: 0.5;
        text-align: center;
}

section.detail__phones--container--global {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 0.5vh;
    padding-bottom: 2rem;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    font-size: var(--descripcion);
  }

.detail__more {
    color: var(--destacado);
}

.detail__ul--characteristics2 {
    display: none;
}

.detail__hr--product {
    border-color: rgba(220, 220, 220, 0.300);
}

.detail__hr--shipping {
    border-color: rgba(220, 220, 220, 0.300);
    margin-top: 5px;
}

.detail__hr--shipping--free {
    border-color: rgba(220, 220, 220, 0.300);
    margin-bottom: 5px;
}



/* TABLET PRODUCT DETAIL **/

@media (min-width: 480px) {

    .back {
        padding-left: 20px;
    }

    .detail___product--container {
        display: flex;
        flex-wrap: wrap;
        padding: 2rem 1rem;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
        padding: 32px 24px 24px;
        margin-left: auto;
        margin-right: auto;
        max-height: min-content;
        max-width: 865px;
    }

    .detail__img--product {
        margin: auto;
    }

    .detail__main--product {
        margin-right: 1.8rem;
        margin-left: 1.8rem;
    }

    .detail___info--product {
        border-radius: 20px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
        padding-left: 1rem;
        width: 100%;
    }

    .detail__hr--product {
        display: none;
    }

    .detail___technical--specifications {
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

}

/* DESKTOP PRODUCT DETAIL */

@media (min-width: 769px) {

    .detail__phones--container--global {
        max-width: 865px;
    }

    .detail___product--container {
        padding-top: 50px;
    }

    .detail___characteristics {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .detail__ul--characteristics2 {
        display: block;
    }

    .detdetail__payment--methodsil___technical--specifications {
        border-radius: 20px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
        padding-right: 30px;
        margin-bottom: 1rem;
        margin-left: auto;
        margin-right: auto;
        max-height: min-content;
        max-width: 865px;
    }

    .detail__more {
        display: none;
    }

}


@media (min-width: 950px) {
    .create__btn {
        justify-content: flex-end;
        padding-right: 1rem;
        margin: -20px auto;
        padding-bottom: 1rem;
    }
}