.register__body {
  background-image: url("../images/form__fondo.jpg");
  margin: 0;
  padding: 0;
}

.register__a--icons {
  color: white;
}

.register__general {
  display: flex;
  justify-content: center;
  align-items: center;
}

.span__register {
  font-size: 28px;
  color: var(--azul);
  position: relative;
  display: flex;
  justify-content: center;
}

.register__hr {
  width: 80px;
  position: relative;
  left: 58px;
}

.register {
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #584b4ba1;
}

.register__card {
  padding: 40px;
  box-shadow: 15px 15px 15px rgb(0 0 0 / 50%);
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: var(--fondo);
  outline: 1px solid var(--azul);
  border: none;
  border-radius: 40px;
  margin: 20px 20px;
  box-sizing: content-box;
}

.register__card--input {
  /* margin-top: 0px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.register__card--input label {
  width: fit-content;
  position: relative;
  margin-block: 1rem;
  font-size: smaller;
  /* top: -2px; */
}

.register__input {
  outline: 1px solid var(--azul);
  border: none;
  border-radius: 12px;
  padding: 5px 10px;
  background: var(--fondo);
  color: #004aad;
  width: 190px;
  height: 24px;
  text-decoration: underline 1.2px;
  text-decoration-style: double;
  box-sizing: initial;
  text-indent: 10px;
  position: relative;
  bottom: 13px;
}

.register__input--error {
  color: red;
  margin-top: -3px;
  padding-left: 5px;
}
.register__input--error--terms {
  color: red;
  margin-top: -3px;
  position: inherit;
  right: 15px;
}

.register__input--error--avatar {
  color: red;
  margin-top: -3px;
  padding-left: 5px;
}

.img-container img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  object-fit:cover;
}

.register__input--avatar {
  display: flex;
  text-align: center;
  height: 2rem;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
  margin: 10px 0;
  width: 212px;
}

.register__input--textAvatar {
  position: absolute;
  font-size: 14px;
}

.register__input--file {
  opacity: 0;
}



.register__card a {
  font-size: var(--parrafos);
  color: #004aad;
  text-decoration: none;
  /* position: relative; */
  /* top: 1px; */
}

.register__form--check {
  font-size: small;
  width: max-content;
  position: relative;
  top: 5px;
}

#check {
  position: relative;
  top: 2px;
}

.register__btn {
  outline: 1px solid var(--azul);
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background: #004aad5e;
  color: #0b0c0e;
  width: 210px;
  position: relative;
  top: 8px;
}

#submitErrors {
  position: relative;
  top: 10px;
  color: red;
}

.register__p--span {
  position: relative;
  top: 15px;
}

@media (max-width: 300px) {
  .register__card {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 200px;
  }
  .register-container {
    box-sizing: content-box;
  }
}

@media (min-width: 800px) {
  .register__card{
    width: 250px;
    margin: 20px;
  }

  .register__card--input{
    position: relative;
    align-items: center;
  }

  .register__form--check {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 20px;
  }
  .register__hr {
    left: 80px;
  }

  .register__check{
    width: auto;
  }

  .register_card--input .register_check--terms{
    font-size: medium;
    align-items: center;
  } 

  .span__register{
    font-size: xx-large;
  }
  
}