<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/register.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>  
    <header> 
    <nav class="header__nav--userdesign">   
        <ul class="header__container--gray">
            <li><i id="header__icon--gray" class="fa-solid fa-truck-fast"></i>Seguí tu compra</li>
            <li class="header__btn--gray"><i id="header__icon--gray" class="fa-regular fa-building"></i>Sucursales</li>
            <li class="header__btn--gray"><i id="header__icon--gray" class="fa-brands fa-whatsapp"></i>Comunicate por WhatsApp</li>
            <li class="header__btn--gray"><i id="header__icon--gray" class="fa-solid fa-headset"></i>Centro de ayuda</li>
            <li><i id="header__icon--gray" class="fa-solid fa-circle-down"></i>Garantía</li>
        <div class="header__logo-horizontal-1">
        <img class="logo__horizontal--1" src="./images/LogoSecundarioDEMAC.png" alt=""> </div>
        </ul>
    
    
    </nav>

<nav class="header__container">

<span class="burger-menu">
    <i class="fas fa-bars"></i>
</span> 

<a href="/"><img class="header__logo--main" src="images/WhatsApp Image 2023-01-06 at 11.19.29 PM.jpeg" alt=""> </a>

<nav class="main-nav"> 
    <ul> 
        <li> 
            <a class="register__a--icons" href="/login"><i class="fa-solid fa-circle-user"></i>
            <p>Mi cuenta</p></a>
        </li>
        <a class="register__a--icons" href="/cart"><li class="carrito">
            <i class="fa-solid fa-cart-shopping"></i> </a>
      </li>

    </ul>
</nav>

<div class="header__search">
        <input class="header__search--bar" type="text" placeholder="Buscar productos, marcas">
        <button>
            <i class="fa-solid fa-magnifying-glass"></i>
        </button> 
    </div>


</nav>

</header>
<form> <div class="register">  <div class="register__general">
    <div class="card">
        <span class="span__register">registro</span>
    
    <div class="card-input">
        <label for="text">Nombre de usuario</label>
        <input class="input" type="text" name="usuario" placeholder="escribe aqui tu nombre" id="">
        <label for="email">Correo electronico</label>
        <input class="input" type="email" name="email" placeholder="Escribe aqui tu correo" id="">
        <label for="pass">Contraseña</label>
        <input class="input" type="password" name="pass" placeholder="Escribe aqui tu contraseña" id="">
        <label for="pass2">Confirmar contraseña</label>
        <input class="input__error" type="password" name="pass2" placeholder="Contraseña incorrecta" id=""> 
    </div>
    <div class="register__form--check" >
        <input type="checkbox" name="terms" id="recordar"> 
        <label class="register__check--terms" for="terms">  Acepto <a href="">términos y condiciones</a> </label>
    <div class="register__form--btn">
            <button type="submit" class="register__btn">Registrarme</button>
        </div> 
            <p class="register__form">Registrarme con</p>
            <span class="registered__form--user"><a href="/login">¿Ya tiene una cuenta? Inicie sesión</a></span>
        </div>
    </div>
</div>
</div>
</form>

<footer class="footer__container">
    <article class="footer__logo-sub">
        <div class="footer__container-logo">
            <img class="footer__logo" src="./images/logo-footer.svg" alt="">
        </div>
        <div>
            <span class="footer__subs">Recibí ofertas y descuentos</span>
            <div class="input__subs">
                <input class="input__subs-register" type="email" name="email" placeholder="Registrá tu email">
                <div class="btn__container">
                    <button type="submit" class="send__btn">Enviar</button>
                </div>
            </div>
        </div>
    </article>

    <article class="footer__info">
        <section class="footer__info--individual">
            <a href="">
                <span class="info__title icon-loc">Sucursales</span>
            </a>
            <ul>
                <li class="info__item"><a href="" class="info__item--link">Retiro, CABA</a></li>
                <li class="info__item"><a href="" class="info__item--link">Lanús, GBA</a> </li>
                <li class="info__item"><a href="" class="info__item--link">Flores, CABA</a> </li>
            </ul>
        </section>
        <section class="footer__info--individual">
            <a href="">
                <span class="info__title icon-mob">Recomendados</span>
            </a>
            <ul>
                <li class="info__item"><a class="info__item--link" href="">Celular Samsung Galaxy A13 128GB</a> </li>
                <li class="info__item"><a class="info__item--link" href="">Celular Motorola G22</a> </li>
                <li class="info__item"><a class="info__item--link" href="">Celular iPhone 12Pro</a> </li>
            </ul>
        </section>
        <section class="footer__info--individual">
            <span class="info__title icon-tel">Contacto</span>
            <ul>
                <li class="info__item"><a class="info__item--link" href="mailto:elcorreoquequieres@correo.com">info@demac.com</a>
                </li>
                <li class="info__item"><a class="info__item--link" href="tel:08002583692">0800-258-3692</a>
                </li>
                <li class="info__item"><a class="info__item--link" href="https://wa.me/541172021122">+541172021122</a></li>
            </ul>
        </section>
    </article>
    <article class="footer__social">
        <div class="footer__btns-social">
            <a href="#" class="btns__icon"><i class="fa-brands fa-telegram"></i></a>
            <a href="#" class="btns__icon"><i class="fa-brands fa-twitter"></i></a>
            <a href="#" class="btns__icon"><i class="fa-brands fa-instagram"></i></a>
            <a href="#" class="btns__icon"><i class="fa-brands fa-facebook"></i></a>
            <a href="#" class="btns__icon"><i class="fa-brands fa-whatsapp"></i></a>
        </div>
        <div class="footer__copyright">
            <i class="fa-regular fa-copyright"></i> Copyright 2023 | Todos los derechos reservados Demac.com.ar
        </div>
    </article>
</footer>
</body>       
     
        
</html>
