<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEMAC Store</title>
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/productDetail.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header> 
        <nav class="header__nav--userdesign">   
            <ul class="header__container--gray">
                <li><i id="header__icon--gray" class="fa-solid fa-truck-fast"></i>Seguí tu compra</li>
                <li class="header__btn--gray"><i id="header__icon--gray" class="fa-regular fa-building"></i>Sucursales</li>
                <li class="header__btn--gray"><i id="header__icon--gray" class="fa-brands fa-whatsapp"></i>Comunicate por WhatsApp</li>
                <li class="header__btn--gray"><i id="header__icon--gray" class="fa-solid fa-headset"></i>Centro de ayuda</li>
                <li><i id="header__icon--gray" class="fa-solid fa-circle-down"></i>Garantía</li>
            <div class="header__logo-horizontal-1">
            <img class="logo__horizontal--1" src="./images/LogoSecundarioDEMAC.png" alt=""> </div>
            </ul>
        
        
        </nav>
    
<nav class="header__container">
   
    <span class="burger-menu">
        <i class="fas fa-bars"></i>
    </span> 

   <img class="header__logo--main" src="images/WhatsApp Image 2023-01-06 at 11.19.29 PM.jpeg" alt=""> 
    
    <nav class="main-nav"> 
        <ul> 
            <li> 
                <i class="fa-solid fa-circle-user"></i>
                <p>Mi cuenta</p>
            </li>
            <li class="carrito">
                <i class="fa-solid fa-cart-shopping"></i>
          </li>

        </ul>
    </nav>

    <div class="header__search">
            <input class="header__search--bar" type="text" placeholder="Buscar productos, marcas">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button> 
        </div>

    
</nav>
   
</header>

<div class="back">
    <ul>
        <li>Volver al listado<i class="fa-solid fa-chevron-right"></i></li>
        <li>Categoría<i class="fa-solid fa-chevron-right"></i></li>
        <li>Marca</li>
    </ul>
</div>
<main class="detail__main--product">
    <section class="detail___product--container">
            <img class="detail__img--product" src="./images/samsung-galaxy-s20-rojo-front 1.svg" alt="Samsung s20">
        <article class="detail___info--product">
            <div class="detail___title--product">
                <h3>Celular Samsung Galaxy s20 FE 5G 128GB</h3>
            </div>
            <div>
                <del>$169.999</del><span class="detail___porcent--offer">%30 OFF</span>
            </div>
            <div class="detail___price">
                <span>$118,999</span>
            </div>
            <div class="detail__promotions--cards">
                <h3>¡Nuestras promociones bancarias!</h3>
            </div>
            <div class="detail__dues--card">
                <h3>3 cuotas sin interés de $39,666</h3>
            </div>
            <div>
                <img class="detail__img--target" src="./images/visa.svg" alt="visa">
                <img class="detail__img--target" src="./images/mastercard.svg" alt="visa">
            </div>
            <div class="detail__payment--methods">
                <a href= "https://www.mercadopago.com.ar/ayuda/medios-de-pago-cuotas-promociones_264">Ver todos los medios de pago</a>
            </div>
            <hr class="detail__hr--shipping"></hr>
            <div class="detail__shipping">
                <p><i class="fa-solid fa-truck-fast"></i>  Envío gratis a todo el país</p>
                <p class="detail__free">¡Retiralo ya!</p>
            </div>
            <hr class="detail__hr--shipping--free"></hr>
            <div>Color:</div>
            <div>
            <ul class="detail__button--colour">
                <li><button class="detail__button--colour1"><i class="fa-solid fa-circle"></i></button></li>
                <li><button class="detail__button--colour2"><i class="fa-solid fa-circle"></i></button></li>
                <li><button class="detail__button--colour3"><i class="fa-solid fa-circle"></i></button></li>
            </ul>
        </div>
                
    <div class="detail___number--product">
        <div class="detail___number--product">
        <label for="number">Cantidad:</label>
            <select name="number" id="number">
            <option disabled selected value="">1 unidad</option>
            <option value="1">1 unidad</option>
            <option value="2">2 unidades</option>
            <option value="3">3 unidades</option>
        </label>
    </div>
</div>
        <div class="detail___add--cart">
            <input class="detail__input--false"/>
            </div>
            <div class="detail___button--cart">
            <a href="/app/views/productCart.html" class="detail___btn--add--to--cart">COMPRAR</a>
        </div>
        </div>
        </article>
    </section>
    <hr class="detail__hr--product"></hr>

</main>
<article class="detail___technical--specifications">
    <div class="detail__tittle--characteristics">Especificaciones técnicas</div>
    <div class="detail___characteristics">
        <ul class="detail__ul--characteristics">
            <li>Marca: Samsung</li>
            <li>Modelo: S20 FE 5G</li>
            <li>Sistema Operativo: Android</li>
            <li>Pantalla: 6.5 "</li>
            <li>Memoria Interna: 128 GB</li>
            <li>Expandible hasta: 1 TB</li>
            <li>Ram: 6 GB</li>
        </ul>

        <ul class="detail__ul--characteristics2">
            <li>Procesador: Snapdragon 865</li>
            <li>Cámara Frontal Principal: 32 Mpx</li>
            <li>Cámara Trasera Principal: 12 Mpx</li>
            <li>Video: 3840 px x 2160 px</li>
            <li>Batería: 4500 mAh</li>
            <li>Dimensiones: 159.8 mm x 74.5 mm x 8.4 mm</li>
            <li>Peso(g): 190 g</li>
        </ul>
        <div class="detail__more">Leer más</div>
    </div>
</article>
<footer class="footer__container">
    <article class="footer__logo-sub">
        <div class="footer__container-logo">
            <img class="footer__logo" src="./images/logo-footer.svg" alt="">
        </div>
        <div>
            <span class="footer__subs">Recibí ofertas y descuentos</span>
            <div class="input__subs">
                <input class="input__subs-register" type="email" name="email" placeholder="Registrá tu email">
                <div class="btn__container">
                    <button type="submit" class="send__btn">Enviar</button>
                </div>
            </div>
        </div>
    </article>

    <article class="footer__info">
        <section class="footer__info--individual">
            <a href="">
                <span class="info__title icon-loc">Sucursales</span>
            </a>
            <ul>
                <li class="info__item"><a href="" class="info__item--link">Retiro, CABA</a></li>
                <li class="info__item"><a href="" class="info__item--link">Lanús, GBA</a> </li>
                <li class="info__item"><a href="" class="info__item--link">Flores, CABA</a> </li>
            </ul>
        </section>
        <section class="footer__info--individual">
            <a href="">
                <span class="info__title icon-mob">Recomendados</span>
            </a>
            <ul>
                <li class="info__item"><a class="info__item--link" href="">Celular Samsung Galaxy A13 128GB</a> </li>
                <li class="info__item"><a class="info__item--link" href="">Celular Motorola G22</a> </li>
                <li class="info__item"><a class="info__item--link" href="">Celular iPhone 12Pro</a> </li>
            </ul>
        </section>
        <section class="footer__info--individual">
            <span class="info__title icon-tel">Contacto</span>
            <ul>
                <li class="info__item"><a class="info__item--link" href="mailto:elcorreoquequieres@correo.com">info@demac.com</a>
                </li>
                <li class="info__item"><a class="info__item--link" href="tel:08002583692">0800-258-3692</a>
                </li>
                <li class="info__item"><a class="info__item--link" href="https://wa.me/541172021122">+541172021122</a></li>
            </ul>
        </section>
    </article>
    <article class="footer__social">
        <div class="footer__btns-social">
            <a href="#" class="btns__icon"><i class="fa-brands fa-telegram"></i></a>
            <a href="#" class="btns__icon"><i class="fa-brands fa-twitter"></i></a>
            <a href="#" class="btns__icon"><i class="fa-brands fa-instagram"></i></a>
            <a hr="#" class="btns__icon"><i class="fa-brands fa-facebook"></i></a>
            <a href="#" class="btns__icon"><i class="fa-brands fa-whatsapp"></i></a>
        </div>
        <div class="footer__copyright">
            <i class="fa-regular fa-copyright"></i> Copyright 2023 | Todos los derechos reservados Demac.com.ar
        </div>
    </article>
</footer>
</body>
</html>